@page "/"

@using CinemaProject.Components.MovieComponents;
@using CinemaProject.Components.SimpleComponents;

<PageTitle>Super Movies!</PageTitle>

<header>
    <HeroSection/>
</header>



<section>
    <ShowSessionsWithMovie />
</section>


