@page "/"

@using CinemaProject.Components.MovieComponents;
@using CinemaProject.Components.SimpleComponents;

<PageTitle>Super Movies!</PageTitle>



<main>
    
    <HeroSection/>
    <ShowSessionsWithMovie />
</main>


