@page "/"

<PageTitle>Super Movies!</PageTitle>

<div class="container">
    
    <section class="container">
        <CinemaProject.Components.Pages.Components.Sessions/>
    </section>
        
    
</div>


