@page "/"

@using CinemaProject.Components.MovieComponents;
@using CinemaProject.Components.SimpleComponents;

<PageTitle>Super Movies!</PageTitle>



<main>
    <HeroSection/>
    <ShowSessionsWithMovie />
</main>

<footer class="container mt-3">
    <div>
        <h2><a href="https://github.com/Lmedeiros-leiman/CinemaProject" >By Leonardo</a></h2>
        <p><a href="https://www.freepik.com/">Images from FreePik</a> </p>
        <p><a href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor">Created using Blazor (C#/ASP.NET) </a> </p>
    </div>
</footer>

