@page "/"

@using CinemaProject.Components.MovieComponents;


<PageTitle>Super Movies!</PageTitle>

<header>
    <h1>Super Movies!</h1>


    <footer>
        <a href="http://www.freepik.com">Designed by dgim-studio / Freepik</a>
    </footer>
</header>




<section class=" container">
    <ShowSessionsWithMovie />
</section>


