@page "/moviesConfig"

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "admin")]

<PageTitle>Movies Config</PageTitle>


@using CinemaProject.Data.Models;
@using CinemaProject.Data.Models.FormModels;
@using CinemaProject.Data.Services;
@using System.Text.Json;

@using CinemaProject.Components.MovieComponents;

@inject NavigationManager NavigationManager
@inject IMovieService MovieService
@inject IAttachmentService AttachmentService


<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Poster</th>
      <th scope="col">UId</th>
      <th scope="col">Tittle</th>
      <th scope="col">Inputed Date</th>
      <th scope="col">
        <!-- Modal button -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#movieInputStaticModal">
          Add new movie
        </button>
        <!-- Modal -->
        <div class="modal fade" id="movieInputStaticModal" data-bs-backdrop="static" data-bs-keyboard="false"
          tabindex="-1" aria-labelledby="movieInputStaticModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg my-1">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="modal-title fs-5 text-primary" id="movieInputStaticModalLabel">Inserting a new movie.</h2>
                <button type="button" class="btn-close bg-danger" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <MovieInputForm />
              </div>
            </div>
          </div>
        </div>
        
      </th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>twitter</td>
    </tr>
  </tbody>
</table>




