<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <link rel="stylesheet" href="./bootstrap-latest/css/bootstrap.min.css" />

    <!-- Css especifico da página app.css -->
    <link rel="stylesheet" href="./app.css" />
    
    <!-- Css compilado -->
    <link rel="stylesheet" href="./CinemaProject.styles.css" />
    <link rel="icon" type="image/png" href="./favicon.png" />

    
    <HeadOutlet />
</head>

<body>
    <Routes />
    
    
    
    <script src="./popper/popper.js" ></script>
    
    <script src="./bootstrap-latest/js/bootstrap.min.js" ></script>
    
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
