
@using CinemaProject.Data.Models;
@using CinemaProject.Data.Services;

@inject IMovieService MovieService
@inject NavigationManager NavigationManager

<div>
    <button class="btn btn-danger" onclick="DeleteTargetSession">Delete</button>
    <button class="btn btn-primary">Cancel</button>
</div>






@code {
    [Parameter]
    public required Session targetSession {get; set;}

    public async Task DeleteTargetSession() {
        await MovieService.DeleteSession(targetSession);

        NavigationManager.NavigateTo("/moviesConfig", true);
    }
}
