@using CinemaProject.Data.Models;
@using CinemaProject.Data.Services;
@using CinemaProject.Components.MovieComponents;

@inject IMovieService MovieService

<style>
    .sessionAdress {
        background: rgba(0, 0, 0, 0.4);
        transition: all 0.1s ease-in-out;
    }
    .sessionAdress:hover {
        background: rgba(255, 255, 255,0.33);
    }
    .blackTransition {
        background: linear-gradient(to bottom, #000 98%,  #fff 100% );
        
    }
    
</style>

<section class="blackTransition container-fluid pb-3">
    <h1 class="pt-4 text-white text-center text-decoration-underline">Check our current sessions!</h1>

    <main class="row gx-4 gx-lg-5 justify-content-center mt-5">
        @foreach(Movie movie in moviesWithSessions) {
            <SessionCardView movie="@movie" />
        }
    </main>
</section>







@code {



    List<Movie> moviesWithSessions = [];
    protected override async Task OnInitializedAsync()
    {
        moviesWithSessions = await MovieService.GetMoviesWithSessions();

    }


}

