@page "/MovieList"


    <div class="form-group custom-file">
            <label class="custom-file-label">Input poster image</label>
            <InputFile OnChange="@HandleNewFile" />
    </div>


@code{
    private void HandleNewFile(InputFileChangeEventArgs e) {
        Console.WriteLine("FUNFOU");
    }
}