@inherits LayoutComponentBase

@inject NavigationManager NavigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <nav class="navbar navbar-light bg-dark justify-content-end ">
            <div class="nav-item px-1 " style="order: 999;">
                <AuthorizeView>
                    <Authorized>
                        <div class="dropdown">
                            <div class=" dropdown-toggle text-light" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <img width="24" height="24" /> <span
                                    class=" text-decoration-underline">@context.User.Identity?.Name!</span>
                            </div>
                            <ul class="dropdown-menu">
                                <AuthorizeView Roles="admin">
                                    <Authorized Context="adminUser">
                                        <li>
                                            <p class=" text-warning text-center">Admin Actions</p>
                                            <a href="/moviesConfig" class="dropdown-item" type="button">Configure
                                                Movies</a>
                                            <hr class="dropdown-divider">
                                        </li>
                                    </Authorized>
                                </AuthorizeView>
                                <li>
                                    <form class="dropdown-item" action="Account/Logout" method="post">
                                        <AntiforgeryToken />
                                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                                        <button type="submit" class="nav-link">
                                            <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span>Sign
                                            Out
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </Authorized>
                    <NotAuthorized>
                        <a href="/Account/Login" class="text-light px-1">Not logged in</a>
                    </NotAuthorized>
                </AuthorizeView>
            </div>


        </nav>




        <article class="container-fluid px-2 py-2">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}


