@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <AuthorizeView>
            <Authorized>
                <div class=" top-row p-0">
                    <div class="dropdown ">
                        <div class="dropdown-toggle" style="display: flex; align-items: center;"
                            data-bs-toggle="dropdown">
                            <div class=""></div>
                            <img width="24" height="24" /><span class="mx-1">
                                @context.User.Identity?.Name
                            </span>
                        </div>
                    </div>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>


            </Authorized>
            <NotAuthorized>
                <div class="top-row px-4">
                    <picture><img width="24" height="24" /></picture><span> Guest </span>
                </div>
            </NotAuthorized>
        </AuthorizeView>



        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
