
@using CinemaProject.Data.Models;
@using CinemaProject.Data.Services;

@inject ISessionService SessionService


<div class="row">
    <div class="card">
        <div >
            <h2 >Our current sessions</h2>
        </div>
        
        @if (movieSessions.Count <= 0) {
            <p>No sessions found, come back later.</p>
        }

        Sessions That the user will visualize
    </div>
</div>



@code {
    private List<Session> movieSessions {get;set;}

        protected override void OnInitialized()
        {
            movieSessions ??= new(); // []
        }
        protected override async Task OnInitializedAsync()
        {
            //movieSessions = SessionService.GetSessions();
        }
}

