<section class="container mt-4">


    <footer>
        <h2>About us</h2>
        <p class="fs-5"><a href="https://github.com/Lmedeiros-leiman/CinemaProject">Project created by Leonardo </a></p>
        <p> <a href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor">Created using Blazor (C#/ASP.NET) </a> </p>
    </footer>
</section>






