<style>
    .masthead {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: auto;
        min-height: 38rem;
        
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../pageAssets/bg-herosection.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
    }
    .masthead main {
        color: white;
        text-shadow: 4px 4px 8px black;
    }
</style>


<div class="masthead">
    <main class=" text-center text-white mt-auto">
        <h1 class="fs-1">Super Movies!</h1>
        <h2 class="fs-3">The cinema people actually go to.</h2>
    </main>
    
    <footer style="margin-top: auto; align-self: flex-start;">
        <a target="_blank"  href="https://www.freepik.com/">Designed by dgim-studio / Freepik</a>
    </footer>
</div>
